.container{
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  max-width: 250px !important;
  height: 250px;
  border: 10px;
}

.main{
  gap: 25px;
  display: flex;
  flex-direction: column;
}

